header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

#left-column {
  float: left;
  width: 50%;
  padding: 20px;
}

#right-column {
  float: right;
  width: 40%;
  padding: 20px;
}

main {
  overflow: auto;
  width: 1000px;
  background-color: #fff;
}

footer {
  clear: both;
  padding-bottom: 1em;
  border-top: 1px solid #333;
  text-align: center;
}

h2 {
  color: #333;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  width: 50px;
  margin-right: 10px;
  display: inline-block;
}

body {
  background: url("pictures/dogs.jpg");
}

nav {
  margin-bottom: 20px;
  margin-top: 20px;
}

.menu-button {
  display: inline-block;
  padding: 0.5em 1em;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;

  background-image: linear-gradient(
    to right,
    #16a085 0%,
    #ac8a05 51%,
    #05765f 100%
  );

  box-shadow: 0px 8px 15px #000000cc;
}

.menu-button:hover {
  background-image: linear-gradient(
    to right,
    #f6d365 0%,
    #fda085 51%,
    #f6d365 100%
  );
}

.menu-button:active {
  background-color: #2e8b57;
}

.button5 {
  transform: rotate(10deg);
}

.box {
  width: 70px;
  height: 70px;
  display: inline-block;
  cursor: pointer;
}

#box1 {
  background-color: #f00;
}

#box2 {
  background-color: #209a8e;
}

#box3 {
  background-color: #a09a34;
}

#box4 {
  background-color: #065e2d;
}

#box5 {
  background-color: #5b1872;
}

@keyframes animation1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animation1 {
  animation-name: animation1;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes animation2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.animation2 {
  animation-name: animation2;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes animation3 {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0px);
  }
}
.animation3 {
  animation-name: animation3;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes animation4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation4 {
  animation-name: animation4;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes animation5 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
.animation5 {
  animation-name: animation5;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
